body {
  font-family: 'Arial', sans-serif;
}

.block-container {
    padding: 0 !important;
}

.root {
    background: #f6f9ff;
}

.wrapper {
    min-height: 600px;
}

.sidebar {
  height: 100%;
  top: 0;
}

.main {
margin-top: 0 !important;
}

.dashboard .card-primary .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .card-success .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .card-warning .card-icon {
  color: #ff771d;
  background: #ffecdf;
}